<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>


<style>
    body{
        margin:0;
        font-family:Arial, Helvetica, sans-serif;
    }
    a:visited{
        color: black;
    }
    #topbar{
        height:60px;
        width: auto;
        background-color: #4E93E0;
        color: #999999;
        text-align: center;
    }
    #topbar p{
        padding: 15px;
    }
    #logodiv{
        float:left;
        height: 50px;
        width: 50px;
        border-right: 1px grey solid;
    }
    #navbar{
        height:50px;
        width: auto;
        color: #999999;
    }
    table{
        height: 50px;
        text-align: center;
    }
    table td{
        background-color: #4aa3df;
    }
    table td a{
        display: block;
        width: 100%;
    }
    #navbar{
        text-align: center;
    }
    #navbar td{
        padding: 15px;
        background-color: grey;
    }
    #leveltable td{
        padding: 15px;
    }
    img{
        max-width: 100%;
    }
</style>

<title>Maarifa - Knowledge</title>
</head>

<body>

    <div id="container">
        <div id="topbar">
            <a href="../.."><img style="height: 60px" src="http://unathichonco.com/banner.jpg"/></a>
        </div>

        <div id="navbar">
            <table style="width: 100%">
                <tr>
                    <td><a href="../../English">English</a></td>
                    <td><a href="../../Math">Math</a></td>
                    <td><a href="../../Science">Science</a></td>
                </tr>
            </table>
        </div>
    </div>

    <div id="content" style="text-align: center">

        <h3>{{lessontitle}}</h3>
<div>
        <p>
            Addition is one of the first things you learn when beginning math education. In
            order to add, you must know how to count using traditional counting numbers (1,
            2, 3, etc). Once you have a good understanding of counting, you will begin to add
            numbers together. To start, we’re going to use one digit plus one digit examples,
            and move on to harder examples.</p>
        <h2>
            Adding One Digit Plus One Digit Numbers</h2>
        <p>
            Adding one digit to another digit is the first kind of addition problem you’ll learn
            how to complete. A basic addition problem looks like this:</p>
        <p>
            2 + 1 = _____</p>
        <p>
            In order to complete this problem, you would first count to two, and then count
            one more (adding it), and get to three. If you were to look at it with pictures
            instead of numbers, it would look like this:</p>
        <p>
            <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/fa7b6bbf-b22f-4d92-8af3-d9c73633405d.gif" title="">
        </p>
        <p>
            For beginners, it may be easier to draw dots and then count them all together, like
            we did for this one. Let’s try this again. Here’s the problem, in numbers and in
            pictures:</p>
        <p>
            <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/bd48dd35-4f60-4b14-8e39-97736a3986e8.gif" title=""></p>
        <p>
            Now, count up the dots. How many did you get? You should have gotten five in the
            end. If you didn’t, go back and re-count them.</p>
        <div class="WyzQuiz">
            <div class="WyzQuizQuestion OpenEnded">
                <p>
                    Let’s try this one more time before we move on. We’ll give you the pictures and
                    numbers, and you give us the answer!</p>
                <p>
                    <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/80d3b7d5-1a8f-4f47-be85-34b905345303.gif" title=""></p>
                <div class="Answer">
                    <input type="text">
                </div>
                <div class="WyzQuizExplanation" style="display: none;">
                    <p>
                        Now, count up all the dots, adding them together. What do you get? If you got 11,
                        you’re right! If not, recount them, and make sure you’re not skipping any.
                    </p>
                </div>
                <div class="CorrectAnswer">
                    11
                </div>
            </div>
        <div class="GradeTestContainer"><input type="button" onclick="gradeQuiz(this)" value="Check Answer"></div></div>
        <h2>
            Adding Two Digit Plus One Digit Numbers Without Carrying</h2>
        <p>
            Once you can add simple numbers together, you’ll move on to adding two digit plus
            one digit numbers. A two digit plus one digit problem would look like this:</p>
        <p>
            <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/b479e7c9-ab37-4466-91f6-10dc3be7c216.gif" title=""></p>
        <p>
            In order to complete this problem, you’re first going to add the ones’ columns together.
            For this problem, you’d be adding together 5 + 2. You write the answer to this part
            in the ones’ column under the answer bar. Then, you move on and add the tens’ column
            together. In this problem, the only number in the tens’ column is 1, so you would
            bring 1 down and write it in the tens’ column of the answer.</p>
        <p>
            Then, you’re done! Here’s the work for the problem:
        </p>
        <p>
            Step 1:</p>
        <p>
            <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/5f699cbf-5a82-4c17-8402-8b067f874c62.gif" title=""></p>
        <p>
            Step 2:</p>
        <p>
            <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/d4d44c04-e919-472a-9f2b-e78650a556af.gif" title=""></p>
        <p>
            Now, we get our final answer of 17.</p>
        <div class="WyzQuiz">
            <div class="WyzQuizQuestion OpenEnded">
                <p>
                    Let’s try this one more time. This time, we’ll give you the problem, and you can
                    try working it out. When you’re done, check your answer with our answer. Here’s
                    the problem:
                </p>
                <p>
                    <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/64f428aa-df29-44b6-9ce1-fb1e90b613bb.gif" title=""></p>
                <p>
                    Remember, follow the same steps we did for the first problem, and see if you can
                    come up with an answer.</p>
                <div class="Answer">
                    <input type="text">
                </div>
                <div class="WyzQuizExplanation" style="display: none;">
                    <p>
                        Did you get 19? If you did, you’re right! If you didn’t, go back and re-add the
                        two steps, make sure you brought the 1 down into your answer, and so on. Here’s
                        the work for the problem:</p>
                    <p>
                        <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/b7f4eb42-0833-4b61-926e-f96142da4218.gif" title=""></p>
                    <p>
                        Your final answer is 19.</p>
                </div>
                <div class="CorrectAnswer">
                    19
                </div>
            </div>
        <div class="GradeTestContainer"><input type="button" onclick="gradeQuiz(this)" value="Check Answer"></div></div>
        <a name="jump">
            <h2>
                Adding Two Digit Plus One Digit Numbers With Carrying</h2>
        </a>
        <p>
            After you add two digit plus one digit numbers for a while, you’ll run into a problem
            where you have to carry a number. This happens when you get an answer of 10 or more
            when you add the ones’ column together. For example, if your ones’ column said 9+3,
            that gives you 12, and you’d need to carry. In order to carry, you need to follow
            three steps very carefully.</p>
        <p>
            First, after you’ve added and gotten the number, you need to split the number up
            into two separate digits. You’re not going to write anything yet; you do this step
            in your head. For example, if you got 12 for your answer to the first part of the
            problem, you would look at it as 1 and 2 (two separate digits).</p>
        <p>
            Second, you’re going to take the ones’ digit of the number you just split up, and
            write it in the ones’ column of your answer. (This should seem normal after doing
            addition without carrying).</p>
        <p>
            Last, here’s the different step: you’re going to take the tens’ digit of the number
            you just split up, and write it at the top of the tens’ column in your addition
            problem.</p>
        <p>
            Congrats, you’ve carried! Now let’s see what it looks like in the problem itself:</p>
        <p>
            <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/f9984ce9-fc96-4702-93cb-031a453e2087.gif" title=""></p>
        <p>
            Now you need to finish the addition problem. All you have left to do is add together
            the numbers in the tens’ column now. Notice that after you’ve carried, there are
            now 2 numbers in the tens’ column. In this problem, they are both ones. You would
            add these two numbers together, and place the answer in the tens’ column of the
            answer. It would look like this:
        </p>
        <p>
            <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/beb9aa5e-9600-43a1-b385-1c816848ca3c.gif" title=""></p>
        <p>
            Now you have a final answer, 22.</p>
        <p>
            Let’s try this a couple more times to make sure you understand.</p>
        <p>
            <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/7e6e7964-06ab-44fe-a3aa-e6446aab62a2.gif" title=""></p>
        <p>
            Go ahead and try this problem on your own. Remember to split up the answer to the
            addition of the ones’ column, and put the ones’ digit in the answer while carrying
            the tens’ digit up to the next column. We’ll show this one more time, but after
            that we’re not going to write it out.</p>
        <p>
            <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/9a8a47c1-d7c9-43c8-a6cf-061d81450896.gif" title=""></p>
        <div class="WyzQuiz">
            <div class="WyzQuizQuestion OpenEnded">
                <p>
                    Now try this one as our last practice problem:</p>
                <p>
                    <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/961a1338-9b11-49c1-9875-10cf1a2edd3e.gif" title=""></p>
                <div class="Answer">
                    <input type="text">
                </div>
                <div class="WyzQuizExplanation" style="display: none;">
                    <p>
                        Here's the solution:</p>
                    <p>
                        <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/c1dae8ea-549b-4352-baab-54886890e261.gif" title=""></p>
                    <p>
                        Did you get 53? If not, go back and re-add the columns, and make sure you’re splitting
                        up the number the right way when you do your carrying. Your final answer is 53.
                        Congrats! Now you know how to carry!
                    </p>
                </div>
                <div class="CorrectAnswer">
                    53
                </div>
            </div>
        <div class="GradeTestContainer"><input type="button" onclick="gradeQuiz(this)" value="Check Answer"></div></div>
        <h2>
            Adding Two Digit Plus Two Digit Numbers Without Carrying</h2>
        <p>
            More advanced addition problems will ask you to add two digit plus two digit numbers.
            A problem adding together two two-digit numbers looks like this:</p>
        <p>
            <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/05b2cc5c-675e-43e1-8da6-4ee286e05969.gif" title=""></p>
        <p>
            This may look a little harder than before, but don’t worry! It’s not too bad. You
            just have to remember to do it in the right order. First, add together the ones’
            column, and write the answer beneath the answer bar, like this:
        </p>
        <p>
            <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/42084255-5e6a-4e7d-b20e-b603a830cec1.gif" title=""></p>
        <p>
            Then, move over to the tens’ column and write that answer in the tens’ column beneath
            the answer bar, like this:
        </p>
        <p>
            <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/c0f56065-f3ed-489e-b3fa-26964201d79b.gif" title=""></p>
        <p>
            The solution would look like this:</p>
        <p>
            <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/1149b6df-dd72-4fed-9476-1523e669bfc2.gif" title=""></p>
        <p>
            Did you get 55? If not, re-add each column to see where your mistake is. Remember
            to add each column separately in order to get your answer. Your final answer for
            this problem is 55.
        </p>
        <div class="WyzQuiz">
            <div class="WyzQuizQuestion OpenEnded">
                <p>
                    Let’s try one more example of this to make sure you understand it. Here’s the new
                    problem:
                </p>
                <p>
                    <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/51b7972e-4e03-4d53-be22-b82dc8f38a46.gif" title=""></p>
                <p>
                    Go ahead and try it on your own, and then compare your answer with ours.</p>
                <div class="Answer">
                    <input type="text">
                </div>
                <div class="WyzQuizExplanation" style="display: none;">
                    <p>
                        Solution:</p>
                    <p>
                        <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/38bf4960-a542-4e46-824d-3c1ec3d5db57.gif" title=""></p>
                    <p>
                        If you didn’t get 78, make sure you remember to go back and re-add each column,
                        to find and correct your mistake. Otherwise, if you got 78, you’re right!</p>
                </div>
                <div class="CorrectAnswer">
                    78
                </div>
            </div>
        <div class="GradeTestContainer"><input type="button" onclick="gradeQuiz(this)" value="Check Answer"></div></div>
        <h2>
            Adding Two Digit Plus Two Digit Numbers With Carrying</h2>
        <p>
            Now that you know how to add two digit numbers together, we’re going to practice
            doing it when you have to carry a number. It works very similarly to the carrying
            shown previously. Here’s a problem to start with, and we’ll go through each step
            of solving it.
        </p>
        <p>
            <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/30e2a7ad-f592-4161-b933-f0b436ff3038.gif" title=""></p>
        <p>
            Start this as you would a normal addition problem, with the ones’ column. Notice
            when you add the ones’ column together that you get a number higher than ten, which
            means you have to carry. You’re going to carry the same way as we showed in <a href="#jump">
                Adding Two Digit Plus One Digit Numbers With Carrying</a>. Split up the number
            and write the ones’ digit under the ones’ column beneath the answer bar, and write
            the tens’ digit above the tens’ column in the addition problem. These steps look
            like this (the ones’ column is circled in red, and the number in red at the top
            of the tens’ column is the number that was carried).</p>
        <p>
            <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/3a815ae9-2fd0-4e61-85bc-7ac1e4f741c4.gif" title=""></p>
        <p>
            Now, you can go ahead and add the tens’ column together. Notice that now there are
            three numbers in the tens’ column that you must add together, 1 + 3 + 2. Here’s
            the rest of the solution:</p>
        <p>
            <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/834ac48e-bea9-4865-8f4c-fa8022c744fd.gif" title=""></p>
        <p>
            Thus, our final answer is 61.</p>
        <p>
            Let’s try one more example that’s a little bit harder. Here’s the problem:</p>
        <p>
            <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/214a634d-43bb-448b-87fa-e686cf2660d8.gif" title=""></p>
        <p>
            First, add the ones’ column together. Place the ones’ digit of the answer beneath
            the answer bar in the ones’ column, and the tens’ digit of the answer above the
            tens’ column in the division problem.</p>
        <p>
            <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/7f776b17-17b7-4499-8180-12abbeaf934b.gif" title=""></p>
        <p>
            Now, once again, you have 3 digits in the tens’ column to add together, 1 + 6 +
            8. When you add these together, you get 15. Next, you simply write 15 in front of
            the 6. Now, you have 6 in the ones’ column, 5 in the tens’ column, and 1 in the
            hundreds’ column. Your solution looks like this (we’ll put the 15 in red so you
            can see how it lines up):</p>
        <p>
            <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/71d8eca0-2a0c-409d-b46e-cc46b0ff907a.gif" title=""></p>
        <p>
            Thus, our final answer is 156.</p>
        <div class="WyzQuiz">
            <div class="WyzQuizQuestion OpenEnded">
                <p>
                    Now, try this one on your own, following the same steps we just went through. When
                    you’re done, you can check your answer with ours to make sure you understand completely.
                    Here’s the problem:
                </p>
                <p>
                    <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/11a9402e-893b-4dcb-a5fa-f721a2b44994.gif" title=""></p>
                <p>
                    Now try to work it out on your own, and when you’re done, compare it to our work.</p>
                <div class="Answer">
                    <input type="text">
                </div>
                <div class="WyzQuizExplanation" style="display: none;">
                    <p>
                        <img alt="" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/5c849d25-a9f0-4c9d-b1ba-e83f6ba680a6.gif" title=""></p>
                    <p>
                        Did you get 142 for your final answer? If you didn’t, go back and re-add each column,
                        and make sure you carried correctly. If you did get 142, congrats! You’re absolutely
                        right.</p>
                </div>
                <div class="CorrectAnswer">
                    142
                </div>
            </div>
        <div class="GradeTestContainer"><input type="button" onclick="gradeQuiz(this)" value="Check Answer"></div></div>
    </div>
    </div>

</body>
</html>
